@import 'bourbon';
@import 'neat';


$tablet: new-breakpoint(max-width 1065px 8);
$mobile: new-breakpoint(max-width 650px 8);

$header-height: 4.5em;
$header-height-mobile: 2.2em;

$main-font: 'Quicksand', sans-serif;

$font-color: lawngreen;
$font-color-dark: gold;
$font-color-light: linen;

$link-color: lime;
$link-hover: chartreuse;

$bg-dark: darkgreen;
$bg-light: lemonchiffon;

$red: firebrick;
$red-light: salmon;


body {
  background-color: $bg-dark;
  font-family: $main-font;
  text-align: center;
}

.main-container{
  @include outer-container();
  margin-top: $header-height + 1;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: $font-color;
  font-weight: 400;
}
h1{
  font-size: 5em;
}

ul{
  list-style: none;
  padding: 0;
}

li{

}

a{
  color: $link-color;
  text-decoration: none;
  margin-left: .6em;
}
a:hover{
  color: $link-hover;
}

header{
  position: fixed;
  width: 100%;
  height: $header-height;
  top: 0;
  background-color: forestgreen;
  h1{
    position: absolute;
    top: -.2em;
    text-align: center;
    width: 100%;
  }
  nav{
    position: absolute;
    top: .5em;
    right: 1em;
    font-weight: 600;

  }
  .logout{
    color: $red;
  }

}

body{
  @include media($mobile){
    header{
      height: $header-height-mobile;
      h1{
        text-align: left;
        top: 0;
        left: .2em;
        font-size: 2em;
      }
    }
  }
}
