@import 'base';


.left-panel{
  @include span-columns(6);
  @include omega(2n);
}

.messages{
  .from-username{
    color: crimson;
    font-weight: bold;
    font-size: 1.2em;
  }
  .to-username{
    color: navy;
    font-weight: bold;
    font-size: 1.2em;
  }
}

input{
  border: none;
  border-radius: .2em;
}

.avatar{
  width: 20%;
  height: 20%;
}

.fav-courts{
  li{
    @include span-columns(6);
    @include omega(2n);
    position: relative;
    height: 20vh;
    margin-bottom: 1em;
    background-color: $bg-alt;
    border-radius: .5em;
    display: inline-block;
    overflow: scroll;
    a{
      position: absolute;
      top: 0;
      right: .2em;
    }
  };

}

body{
  @include media($mobile){
    .avatar{
      width: 80%;
      height: 80%;
    }
    .fav-courts{
      li{
          @include span-columns(8);
          @include omega();
      }
    }
  }
}
