@import 'base';

li{
  @include span-columns(3);
  @include omega(4n);
  margin-bottom: 1em;
  background-color: $bg-alt;
  border-radius: 2em;
  display: inline-block;
  overflow: scroll;
  .avatar{
    margin-left: 2.5%;
    width: 95%;
    height: 15em;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
};

body{
  @include media($mobile){
    li{
    @include span-columns(8);
    @include omega();
    }
  }
}
