@import 'base';

li{
  @include span-columns(6);
  @include omega(2n);
  margin-bottom: 1em;
  background-color: $bg-light;
  border-radius: 2em;
  display: inline-block;
  overflow: scroll;
  @include media($mobile){
    @include span-columns(8);
    @include omega();
  }
};
