@import 'base';

.welcome-container{
  margin: 2em auto;
  @include span-columns(6);
  @include shift(3);
}

form{
  position: relative;
  width: 100%;
};

input{
  width: 100%;
  border: none;
  border-radius: .5em;
  margin-top: .5em;
  height: 1.5em;
};

button{
  margin-top: .5em;
  width: 100%;
  border: none;
  border-radius: .5em;
  background-color: $red-light;
  text-shadow: 1px 1px 1px $red;
};
