doctype html
html(ng-app="courtsClient")
  head
    title 
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href='https://fonts.googleapis.com/css?family=Quicksand:400,300,700', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/main.css")
    block head
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js", charset="utf-8")
    script(src="https://code.angularjs.org/1.4.9/angular-cookies.js", charset="utf-8")
    script(src="/js/directives/angular-google-maps.min.js", charset="utf-8")
    script(src="/js/service/usersApi.js", charset="utf-8")
    script(src="/js/service/courtsApi.js", charset="utf-8")
    script(src="/js/controllers/login.js", charset="utf-8")
    script(src="/js/controllers/courts.js", charset="utf-8")
    script(src="/js/controllers/match.js", charset="utf-8")
    script(src="/js/controllers/main.js", charset="utf-8")
    script(src="/js/app.js", charset="utf-8")
    script(src="/js/scripts.js", charset="utf-8")

block content
