extends base
block head
  link(rel="stylesheet", href="/css/courts.css")

block content
  body(ng-controller="main")
    include ./includes/header
    .court-container(ng-controller="courts as vm")
      a(href="#") list
      a(href="#") map
      .list-container
        ul
          li(ng-repeat="court in allCourts track by $index")
            div {{court.name| lowercase}}
            div {{court.location| lowercase}}
            div {{court.phone}}
            div courts: {{court.courts| lowercase}} {{court.tennis_type| lowercase}}, {{court.indoor_outdoor | lowercase}}
            div {{court.info| lowercase}}

            
      .map-container
        ng-map(center="[40.7127, -74.0059]", zoom="11", styles="{{styles}}", class="ng-map")
          div(ng-repeat="court in vm.courts track by $index")
            marker(id="marker{{court._id}}", position="[{{court.lat}}, {{court.lon}}]", title="{{court.name}}", data="{{court}}", on-click="map.showInfoWindow(event, court._id)")
            info-window(id="{{court._id}}", visible-on-marker="marker{{court._id}}")
              div(ng-non-bindable)
                #body-content
                  div 
                      div {{court.name| lowercase}}
                      div {{court.location| lowercase}}
                      div {{court.phone}}
                      div courts: {{court.courts| lowercase}} {{court.tennis_type| lowercase}}, {{court.indoor_outdoor | lowercase}}
                      div {{court.info| lowercase}}
