extends base
block head
  link(rel="stylesheet", href="/css/courts.css")

block content
  body
    include ./includes/header
    .main-container(ng-controller="main")
      .court-container(ng-controller="courts as vm")
        .map-list-nav
          a(href="#", ng-click="list = true", ng-class="{selected: list}") list view
          a(href="#", ng-click="list = false", ng-class="{selected: !list}") map view
          
        
        .map-container(ng-hide="list")
          ng-map(center="[40.7127, -74.0059]", zoom="11", styles="{{styles}}", class="ng-map")
            div(ng-repeat="court in vm.courts track by $index")
              marker(id="{{court._id}}", position="[{{court.lat}}, {{court.lon}}]", title="{{court.name}}", data="{{court}}", icon="{url:'images/racket.svg'}", on-click="vm.showCourtInfo(court)")
            info-window(id="info-window")
              .body-content(ng-non-bindable="") 
                h3 {{vm.court.name | lowercase}} 
                div {{vm.court.location | lowercase}} 
                div {{vm.court.phone}} 
                div courts: {{vm.court.courts | lowercase}} 
                div {{vm.court.tennis_type | lowercase}}, {{vm.court.indoor_outdoor | lowercase}} 
                div {{vm.court.info | lowercase}}

        .list-container(ng-show="list")
          h5 click on a court to save to it to your favorites
          //- input(type="text", ng-model="search", placeholder="search", class="court-search")
          ul
            li(ng-repeat="court in allCourts track by $index", ng-click="updateFavCourts(court._id)")
              div {{court.name | lowercase}}
              div {{court.location | lowercase}}
              div {{court.phone}}
              div courts: {{court.courts | lowercase}} {{court.tennis_type | lowercase}}, {{court.indoor_outdoor | lowercase}}
              div {{court.info | lowercase}}
