extends base
block head
  link(rel="stylesheet", href="/css/courts.css")

block content
  body
    include ./includes/header
    .main-container(ng-controller="main")
      .court-container(ng-controller="courts as vm")
        .map-list-nav
          a(href="#", ng-click="list = !list", ng-show="list") list view
          a(href="#", ng-click="list = !list", ng-hide="list") map view
        
        .map-container(ng-show="list")
          ng-map(center="[40.7127, -74.0059]", zoom="11", styles="{{styles}}", class="ng-map")
            div(ng-repeat="court in vm.courts track by $index")
              marker(id="marker{{court._id}}", position="[{{court.lat}}, {{court.lon}}]", title="{{court.name}}", data="{{court}}", on-click="map.showInfoWindow(court._id)")
              info-window(id="{{court._id}}")
                .body-content(ng-non-bindable="")
                  div {{court.name | lowercase}}
                  div {{court.location | lowercase}}
                  div {{court.phone}}
                  div courts: {{court.courts | lowercase}} {{court.tennis_type | lowercase}}, {{court.indoor_outdoor | lowercase}}
                  div {{court.info | lowercase}}

        .list-container(ng-hide="list")
          ul
            li(ng-repeat="court in allCourts track by $index", ng-click="updateFavCourts(court._id)")
              div {{court.name| lowercase}}
              div {{court.location| lowercase}}
              div {{court.phone}}
              div courts: {{court.courts| lowercase}} {{court.tennis_type| lowercase}}, {{court.indoor_outdoor | lowercase}}
              div {{court.info| lowercase}}
