extends base

block head
  link(rel="stylesheet", href="/css/match.css")

block content
  body
    include ./includes/header
    .main-container(ng-controller="match")
      ul
        li(ng-repeat="user in allUsers")
          div {{user.name}}
          img(src="{{user.avatar}}")
          div {{user.bio}}
          div skill: {{user.skill}}
          div {{user.zipcode}}
          a(href="#", ng-click="message = true")
          form(ng-submit="newMessage(currentUser._id, user._id, $scope.allUsers[user._id].newMessage)")
            input(type="text", ng-model="$scope.allUsers[user._id].newMessage")
            div {{$scope.allUsers[user._id].newMessage}}
