extends base

block head
  link(rel="stylesheet", href="/css/match.css")

block content
  body
    include ./includes/header
    .main-container(ng-controller="match")
      ul
        li.user(ng-repeat="user in allUsers")
          div {{user.name}}
          .avatar
            img(src="{{user.avatar}}")
          div {{user.bio}}
          div skill: {{user.skill}}
          div {{user.zipcode}}
          a(href="#", ng-click="messageInput = true", ng-hide="messageInput") send a message to {{user.name}}
          form(ng-show="messageInput", ng-submit="newConversation(currentUser, user, $scope.allUsers[user._id].newMessage); messageInput = false")
            input(type="text", ng-model="$scope.allUsers[user._id].newMessage")
