html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background-color: mintcream;
  font-family: "Quicksand", sans-serif;
  text-align: center; }

.main-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5em; }
  .main-container::after {
    clear: both;
    content: "";
    display: table; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: lawngreen;
  font-weight: 400; }

h1 {
  font-size: 3em; }

ul {
  list-style: none;
  padding: 0; }

a {
  color: forestgreen;
  text-decoration: none;
  margin-left: .6em; }

a:hover {
  color: chartreuse; }

header {
  position: fixed;
  width: 100%;
  height: 2.5em;
  top: 0;
  background-color: limegreen;
  z-index: 1000; }
  header h1 {
    position: absolute;
    top: -.2em;
    text-align: center;
    width: 100%; }
  header nav {
    position: absolute;
    top: .5em;
    right: 1em;
    font-weight: 600; }
  header .logout {
    color: firebrick; }

.selected {
  font-weight: 700;
  font-size: 1.2em;
  color: chartreuse; }

@media screen and (max-width: 650px) {
  body header {
    height: 2.2em; }
    body header h1 {
      text-align: left;
      top: 0;
      left: .2em;
      font-size: 2em; } }

.court-search {
  margin-top: .5em; }

li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  height: 20vh;
  margin-bottom: 1em;
  background-color: forestgreen;
  border-radius: 2em;
  display: inline-block;
  overflow: scroll; }
  li:last-child {
    margin-right: 0; }
  li:nth-child(4n) {
    margin-right: 0; }
  li:nth-child(4n+1) {
    clear: left; }

.ng-map {
  position: relative;
  height: 80vh;
  border-radius: 2em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0; }
  .ng-map:last-child {
    margin-right: 0; }

.map-list-nav {
  position: relative;
  margin-top: 3em; }

@media screen and (max-width: 650px) {
  body li {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 100%;
    margin-right: 0; }
    body li:last-child {
      margin-right: 0; }
  body .ng-map {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 100%; }
    body .ng-map:last-child {
      margin-right: 0; } }
