html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background-color: darkgreen;
  font-family: "Quicksand", sans-serif;
  text-align: center; }
  body::after {
    clear: both;
    content: "";
    display: table; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: lawngreen;
  font-weight: 400; }

h1 {
  font-size: 5em; }

ul {
  list-style: none;
  padding: 0; }

header {
  width: 100%; }
  header nav {
    position: fixed;
    top: .5em;
    right: 1em;
    font-weight: 600; }
    header nav a {
      color: lime;
      text-decoration: none;
      margin-left: .6em; }
    header nav a:hover {
      color: chartreuse; }
  header .logout {
    color: firebrick; }

input {
  border: none;
  border-radius: .2em; }

.avatar {
  width: 20%;
  height: 20%; }

@media screen and (max-width: 650px) {
  body .avatar {
    width: 80%;
    height: 80%; } }
