html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background-color: mintcream;
  font-family: "Quicksand", sans-serif;
  text-align: center; }

.main-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.5em; }
  .main-container::after {
    clear: both;
    content: "";
    display: table; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: lawngreen;
  font-weight: 400; }

h1 {
  font-size: 3em; }

ul {
  list-style: none;
  padding: 0; }

a {
  color: palegreen;
  text-decoration: none;
  margin-left: .6em; }

a:hover {
  color: lime; }

header {
  position: fixed;
  width: 100%;
  height: 2.5em;
  top: 0;
  background-color: limegreen;
  z-index: 1000; }
  header h1 {
    position: absolute;
    top: -.2em;
    text-align: center;
    width: 100%; }
  header nav {
    position: absolute;
    top: .5em;
    right: 1em;
    font-weight: 600; }
  header .logout {
    color: firebrick; }

.selected {
  font-weight: 700;
  font-size: 1.2em;
  color: lime; }

@media screen and (max-width: 650px) {
  body header {
    height: 2.2em; }
    body header h1 {
      text-align: left;
      top: 0;
      left: .2em;
      font-size: 2em; } }

.left-panel {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .left-panel:last-child {
    margin-right: 0; }
  .left-panel:nth-child(2n) {
    margin-right: 0; }
  .left-panel:nth-child(2n+1) {
    clear: left; }

.messages .from-username {
  color: crimson;
  font-weight: bold;
  font-size: 1.2em; }

.messages .to-username {
  color: navy;
  font-weight: bold;
  font-size: 1.2em; }

input {
  border: none;
  border-radius: .2em; }

.avatar {
  width: 20%;
  height: 20%; }

.fav-courts li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  position: relative;
  height: 20vh;
  margin-bottom: 1em;
  background-color: forestgreen;
  border-radius: .5em;
  display: inline-block;
  overflow: scroll; }
  .fav-courts li:last-child {
    margin-right: 0; }
  .fav-courts li:nth-child(2n) {
    margin-right: 0; }
  .fav-courts li:nth-child(2n+1) {
    clear: left; }
  .fav-courts li a {
    position: absolute;
    top: 0;
    right: .2em; }

@media screen and (max-width: 650px) {
  body .avatar {
    width: 80%;
    height: 80%; }
  body .fav-courts li {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 100%;
    margin-right: 0; }
    body .fav-courts li:last-child {
      margin-right: 0; } }
