html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background-color: darkgreen;
  font-family: "Quicksand", sans-serif;
  text-align: center; }
  body::after {
    clear: both;
    content: "";
    display: table; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: lawngreen;
  font-weight: 400; }

h1 {
  font-size: 5em; }

ul {
  list-style: none;
  padding: 0; }

header .logout {
  font-weight: 600;
  text-decoration: none;
  color: firebrick;
  position: fixed;
  top: .5em;
  right: 1em; }

li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-bottom: 1em;
  background-color: lemonchiffon;
  border-radius: 2em;
  display: inline-block;
  overflow: scroll; }
  li:last-child {
    margin-right: 0; }
  li:nth-child(2n) {
    margin-right: 0; }
  li:nth-child(2n+1) {
    clear: left; }
  @media screen and (max-width: 650px) {
    li {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 100%;
      margin-right: 0; }
      li:last-child {
        margin-right: 0; } }
